.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1e21dd;
  transition: background 0.3s ease;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #771b46;
  transition: background 0.3s ease;
}
